{% extends "EpsiBlogBundle::base.html.twig" %}

    {% block content %}
        <h1>Tags</h1>
        {% for type, messages in app.session.flashbag.all %}
            {% for message in messages %}
                {{ type }} : {{ message }}
            {% endfor %}
        {% endfor %}
        <table class="table table-responsive table-bordered table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('epsi_blog_tag_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.name }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('epsi_blog_tag_show', { 'id': entity.id }) }}" class="btn btn-default btn-xs">show</a>
                            </li>
                            <li>
                                <a href="{{ path('epsi_blog_tag_edit', { 'id': entity.id }) }}" class="btn  btn-default btn-xs">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div>
            <a href="{{ path('epsi_blog_tag_new') }}" class="btn btn-success">
                Create a new entry
            </a>
        </div>
    {% endblock %}